body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  font-family:sans-serif;
}

#myCarousel {
  width: 100%;
}

.carousel-control {
  margin-top: 20px;
}

.carousel-inner .carousel-item {
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.map-container-5 iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.about {
  text-align: center;
}

.h5 {
  color: blueviolet;
}

#menu {
  background-color: cadetblue;
}

#tds>td {
  font-size: 20px;
}

#link .nav-item .nav-link {
  color: rgb(209, 180, 13);
  font-weight: 500;
  font-size: 25px;
}

#link .nav-item .nav-link:hover {
  color:teal; 
  font-weight: 500;
}

#fa {
  color:white;
  font-size:small;
}
h4{
  color:teal;;
}